.wishlist-page-container {
  margin: 2rem 3.5rem;
}

.card-size {
  width: 680px;
  height: 12rem;
}

.card-size-hori{
height: 100%;
}

.card-image-hori {
max-inline-size: 100%;
block-size: auto;
width: 100%;
height: 100%;
object-fit: cover;
display: block;
border-radius: 4px;
}

.count-value {
border: 1px solid black;
padding: 0 0.5rem;
max-width: max-content;
border-radius: 50%;
}

.text-center {
text-align: center;
margin-bottom: 2rem;
}

.d-block {
display: block;
}



.item-count {
width: 2.5rem;
height: 1.5rem;
border: 1px solid var(--accent-color);
text-align: center;
font-size: 1rem;
}

.count {
width: 1.5rem;
height: 1.5rem;
border: 1px solid var(--accent-color);
border-radius: 50%;
background-color: transparent;
font-size: 2rem;
line-height: 1.5rem;
}

.count:hover {
cursor: pointer;
}

.q-title {
font-weight: 700;
}

.quantity-container {
margin-top: 1rem;
}

.cart-title {
border-bottom: 1px solid var(--accent-color);
margin: 1rem 0;
}

.total-price {
width: 400px;
background-color: var(--card-background);
padding-left: 2rem;
}

.price-distribution {
border-bottom: 1px solid var(--accent-color);
margin: 1rem 0;
padding-bottom: 1rem;
}

.flex-start {
align-self: flex-start;
}

.mg-left {
margin-left: auto;
}

.total-amount {
font-weight: 700;
border-bottom: 1px solid var(--accent-color);
margin: 1rem 0;
padding-bottom: 1rem;
}

.discount-text {
margin: 1rem 0;
}

.btn-width {
width: 21.875rem;
}
