.top-margin {
  margin: 8rem 0 0 10rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-1 {
  gap: 0.5rem;
}

.img-box {
  width: 400px;
  height: 450px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box {
  margin-right: 10rem;
}

.rating-box {
  width: max-content;
  background-color: var(--secondary-color);
  padding: 0 0.5rem;
  border-radius: 2rem;
}

.rating-font {
  font-size: 1.25rem;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.product-details {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.product-final-price {
  font-size: 2rem;
}

.prod-price-strike-through {
  font-size: 1.25rem;
  text-decoration: line-through;
  opacity: .65;
}

.prod-discount {
  font-size: 1.25rem;
  color: var(--primary-color);
  opacity: .65;
}

.tax-txt {
  color: var(--green-badge);
}

.delivery-options {
  margin-top: 1rem;
}
