.add-title {
  margin-bottom: 0.5rem;
}

.address-form {
  background-color: white;
  padding: 2rem;
  width: 34vw;
}

.address-btn {
  width: 100%;
}

.add-input {
width: 100%;
}

.address-display-container {
  border: 1px solid var(--accent-color);
  padding: 1rem;
  margin-top: 2rem;
  width: 60vw;
}

.user-details {
  border-bottom: 1px solid var(--accent-color);
}

.address-details {
  padding: 0.5rem 0 0 2rem;
}

.update-btn-container {
  padding: 1rem 0.5rem 0 0;
}

.edit,
.delete {
  padding: 0;
}
