main {
    margin-bottom: 3rem;
}
.marquee{
    position: relative;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  font-size: 25px;
    
}


/* .marquee:before{
    content:" ";
    height: 2px;
    width: 130px;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .marquee:after{
    content:" ";
    height: 2px;
    width: 130px;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  } */